html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: white;
}
.nav-link{
  font-family: "Albert Sans";
}
a {
    text-decoration: none;
}
.navAndHome{
    /* background-color: black; */
    background-color:black;
    color: white;
}
#homePage {
    background-image: url("/images/paolo-nicolello-2gOxKj594nM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1280px;
    /* border: 3px black solid; */
    border-radius: 10px;
    margin: 6px;
    padding: 15px;
    height: 700px;
    color: black;
    /* background-color: rgb(197, 33, 33); */
}
.tagLine {
    margin-top: 18px;
    font-family:'Albert Sans';
}
.bookNowBtn{
    background-color: white;
    color: black;
    border: 1px white solid;
    margin: 12px;
    height: 36px;
    border-radius: 6px;
    width: 100px;
    transition: 0.4s;
}
.bookNowBtn:hover{
    background-color: black;
    color: white;
}
.adminBtn{
    background-color: black;
    color: white;
    border: 1px white solid;
    margin: 12px;
    height: 36px;
    border-radius: 6px;
    width: 110px;
    transition: 0.4s;
}
.adminBtn:hover{
    background-color: white;
    color: black;
}
.btn-dark {
    margin-top: 60px;
    border-radius: 25px;
    /* height: 45px; */
    width: 130px;
    text-decoration: none;
}
.btn-dark:hover {
    background-color: black;
}
#foodPage {
    margin: 0;
}
.foodText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    /* padding-top: 50px; */

}
.socialAccounts {
    padding: 10px;
}
.Food {
    text-align: center;
    height: 300px;
    width: 400px;
    margin-top: 25px;
    padding: 7px;
}
.Room {
    height: 300px;
    padding: 7px;
    width: 420px;
}
@media only screen and (max-width: 576px) {
    .Room{
        width: 380px;
    }
    .hotelImage {
        height: 250px;
        width: 350px;
    }
    .foodImage {
        width: 200px;
    }
}
.foodImage {
    border-radius: 15px;
    margin: 20px;
    width: 360px;
}
.hotelImage {
    height: 280px;
    width: 380px;
    border-radius: 8px;
    /* margin: 20px; */
    /* margin-left: 40px; */
}
/* @media only screen and (max-width: 600px) {...} */
.roomsText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    padding-left: 20px;
}
.BookingArea{
    margin: 25px;
    border-radius:12px;
    background-color: rgb(255, 253, 253);
}
#footer {
    background-color: rgba(59, 57, 57, 0.902);
}
.showBtn{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 7px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-left: 5px; */
}